body {
	background: #cccccc url("../img/bg.jpg") no-repeat center center fixed;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.tr_block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 308px;
    background: rgba(0,0,0,0.75);
    width: 1230px;
    margin: auto;
}
/*--------*/
.tg_block {
    display: inline-block;
    position: inherit;
    left: 135px;
    top: 84px;
    width: 140px;
    height: 140px;
    background: url("../img/tg.png");
    float: left;
}
.gh_block {
    display: inline-block;
    position: inherit;
    left: 340px;
    top: 84px;
    width: 140px;
    height: 140px;
    background: url("../img/github.png");
    float: left;
}
.vk_block {
    display: inline-block;
    position: inherit;
    top: 84px;
    left: 545px;
    width: 140px;
    height: 140px;
	background: url("../img/vk.png");
	background-size: cover;
    float: left;
}
.gm_block {
    display: inline-block;
    position: inherit;
    left: 750px;
    top: 84px;
    width: 140px;
    height: 140px;
    background: url("../img/gmail.png");    
	background-size: cover;
    float: left;
}
.st_block {
    display: inline-block;
    position: inherit;
    left: 955px;
    top: 84px;
    width: 140px;
    height: 140px;
    background: url("../img/steam.png");
    float: left;
}